body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: column nowrap;

    margin: 0;
    padding: 0;
}

p, a, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.header, .footer {
    background-color: #1F2937;
    color: #fff;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header p {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 500;

    margin: 0.6em;
}

.header .pagelinks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 1.5em;
}